<style>
  #footer   { display: none }
  #header p { display: none }
  p { font-size: .9em; line-height: 1.25em }
  #the-dicks { float: right; padding-right: 1em }
</style>

<p>30,000 of you tried Facelette. TechCrunch, Gizmodo, PC Magazine, The Next
Web, Cult of Mac, Gawker, and about a billion others wrote about it. There were
at least 2,500 tweets about it in the first 24 hours. Pretty neat.</p>

<p>Facelette's a tequila bender. You meet a lot of people, you have a lot of
fun, you carelessly hit on that cutie in the back of the room, and then you
wake up in someone else's front yard wearing your pants as a cape with only a
blinding hangover to keep you company. I'm still wearing my own pants, so I'm
shutting down Facelette while I'm still buzzed.</p>

<p>I think we did something important here. They'll fondly remember Facelette
three hundred years from now. Thanks for being a part of it.</p>

<p id="the-dicks"><a href="http://twitter.com/holman">Zach Holman</a></p>
