<% if @session %>
  Cool! You're ready to <a href="facetime://<%= @session.facetime_id %>">start a FaceTime</a>.

  <p>This one sucked, send me <a href="/queue">on to the next one</a>.<p>
<% else %>
  <% content_for :head do %>
    <meta http-equiv="refresh" content="4">
  <% end %>
  <p>Waiting to FaceTime you up. We'll let you know when we have someone for you.</p>
<% end %>
