body{
  font-family: Helvetica, Arial, sans-serif;
  background-color: #eee;
  margin: 10% 20%;
  text-shadow: 1px 1px 0 #fff;
}
h1{
  font-size: 7em;
  margin-bottom: -0.25em;

}
h1 a{
  text-decoration: none;
  font-weight: bold;
  color: #333;
}
a{
  color: #000;
}
#header p{
  color: #555;
  font-size: 1.1em;
  font-weight: bold;
  padding-left: 8px;
}
#content{
  padding: 3em 8px;
  font-size: 1.25em;
  font-family: Georgia, serif;
}
#footer{
  margin-top: 5em;
  font-family: Georgia, serif;
  font-size: .9em;
  color: #999;
}
#start{
  font-size: 2em;
}
form{
}
form div{
  float: right;
}
input{
  display: block;
  font-size: 2em;
  width: 100%;
}
input[type=submit]{
  font-size: 1.25em;
  width: inherit;
}
#id-info{
  font-size: .75em;
  font-color: #999;
}
