<!DOCTYPE html>
<html>
<head>
  <title>Facelette</title>
  <%= stylesheet_link_tag :facelette %>
  <%= csrf_meta_tag %>
  <%= yield :head %>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-251125-4']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

  <style>
  body{
    font-family: Helvetica, Arial, sans-serif;
    background-color: #eee;
    margin: 10% 20%;
    text-shadow: 1px 1px 0 #fff;
  }
  h1{
    font-size: 7em;
    margin-bottom: -0.25em;

  }
  h1 a{
    text-decoration: none;
    font-weight: bold;
    color: #333;
  }
  a{
    color: #000;
  }
  #header p{
    color: #555;
    font-size: 1.1em;
    font-weight: bold;
    padding-left: 8px;
  }
  #content{
    padding: 3em 8px;
    font-size: 1.25em;
    font-family: Georgia, serif;
  }
  #footer{
    margin-top: 5em;
    font-family: Georgia, serif;
    font-size: .9em;
    color: #999;
  }
  #start{
    font-size: 2em;
  }
  form{
  }
  form div{
    float: right;
  }
  input{
    display: block;
    font-size: 2em;
    width: 100%;
  }
  input[type=submit]{
    font-size: 1.25em;
    width: inherit;
  }
  .id-info{
    font-size: .75em;
    font-color: #999;
  }
  </style>
</head>
<body>

<div id="header">
<h1><a href="/">facelette.</a></h1>
<p>it's like chat roulette but with more apple products and stuff.</p>
</div>

<div id="content">
<%= yield %>
</div>

<div id="footer">

<p>The dumbest experiment ever by <a
href="http://zachholman.com">Zach Holman</a>. Follow <a
href="http://twitter.com/holman">@holman</a> on Twitter.</p>

<p>This thang is happily
powered by <a href="http://github.com">GitHub</a>, <a
href="http://heroku.com">Heroku</a>, and <a href="http://iwantmyname.com">iWantMyName</a>.</p>

<p>Privacy policy: dude, you're submitting an email or phone number to a public
site for strangers to call you. Let that sink in. Cool! That said, this is fun.
If you stop using Facelette for more than two minutes, Facelette will consider
you "signed out" and won't display your FaceTime ID to anyone else, ever. I'll
regularly purge all inactive accounts for good measure.</p>

<p>Privacy tl;dr: you're submitting your stuff publicly, so watch out. But
Facelette will absolutely protect your info otherwise.</p>

</div>
<script type="text/javascript"
  src="http://gaug.es/track.js"
  id="gauges-tracker"
  data-site-id="4d62dc457ba347180f000005">
</script>
</body>
</html>
